#map {
      width:100%;
      height:100%;
    };


.leaflet-panel-layers-item span {
	display: block;
	background: #fff:
}
.panel-thumb {
	font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	margin: auto;
	height: 70px;
	width: 150px;
	float: left;
	cursor: pointer;
	border: outset;
}